body {
    font-family: "Open Sans", Arial;
    background-color: transparent;
    text-align: center;
  }
  body * {
    font-weight: 0;
    margin: 0;
    padding: 0;
  }
img{
    display:block;
    margin:auto;
}